<%= form_for @wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter Title" %>
  </div>
  
  <div id="epiceditor">
    <div class="form-group">

      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control', placeholder: "Enter your data" %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div id="epiceditor-preview"></div>
  
  <script src="/static/lib/epiceditor/js/epiceditor.min.js"></script>
  <script>
    var editor = new EpicEditor({
      buttons: false,
    }).load();
    
    editor.on('update', function() {
      document.querySelector('#epiceditor-preview').innerHTML = (this.exportFile(null, 'html'));
    }).emit('update');
  </script>

  <br>
  
  <% if current_user.admin? || @wiki.user_id == current_user.id? %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> Make wiki private?
      <% end %>
    </div>
  <% end %>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>

